 body {
 	font-size: 3vw;
 	align-items: center;
 }

 .inline {
 	display: inline;
 }

 .logo-xs {
    width:auto;

 }

 .float {
 	float:left;
 }

 .texto_izq {
 	text-align: left;
 	left: 0;
 }

  .cloPadin {
 	padding: 2%;
 }

 .spacio_derecha {
 	margin-right: 1em;
 }

 .spacio_izq {
 	margin-left: 1.5em;
 }

.spacio_top {
 	margin-top: 1em;
 }

 .remove_float {
 	float: none;
 }