 body {
 	font-size: 3vw;
 	align-items: center;
 }

 .inline {
 	display: inline;
 }

 .logo-xs {
    width:auto;

 }

 .float {
 	float:left;
 }

 .texto_izq {
 	text-align: left;
 	left: 0;
 }

  .cloPadin {
 	padding: 2%;
 }

 .spacio_derecha {
 	margin-right: 1em;
 }

 .spacio_izq {
 	margin-left: 1.5em;
 }

.spacio_top {
 	margin-top: 1em;
 }

 .remove_float {
 	float: none;
 }

.col-centrada{
    float: none;
    margin: 0 auto;
}

h5 {
  text-align: center;
}

.row {
  align-items: center;
}
.margen-bottom-row {
  margin-bottom: 3vh;
}

.textoAlign {
  text-align: center;
}

.centrarIMG {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btnGuardar {
  display: block;
}

.btnPlantas {
  display: inline;
}
