 body {
 	font-size: 3vw;
 	align-items: center;
 }

 .inline {
 	display: inline;
 }

 .logo-xs {
    width:30%;

 }

 .float {
 	float:left;
 }

 .texto_izq {
 	text-align: left;
 	left: 0;
 }

  .cloPadin {
 	padding: 2%;
 }