extends ./layout.jade
block contenido
	form(method='post', action='/cfgDB')
		p  Configuracion base de datos : 
		
		p  Validacion N1 : 
		input#val1(type='password', name='val1')
		p  Validacion N2 : 
		input#val2(type='password', name='val2')
		p  Validacion N3 : 
		input#val3(type='password', name='val3')
		select(name='selector')
			option(value='0', selected='selected') Puesta a punto inicial
			option(value='1') Restaurar de fabrica
			option(value='2') Eliminar historico
		button#btn(type='submit', name='button', value='#')  OK 

		