extends ./layout.jade
block contenido
	.container.remove_float
		.row.margen-bottom-row
			.col-lg-3.col-md-3.col-sm-3.col-6.inline
				img(src='/img/riemon.jpg').col-lg-12.col-md-12.col-sm-12

		.row.margen-bottom-row
			.col-lg-2.col-md-2.col-sm-3.col-5.inline.col-centrada
				img(src='/img/medidorAgua.png').col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5#valor0.inline
					h5#senso0.inline
			.col-lg-2.col-md-2.col-sm-3.col-5.inline.col-centrada
				img(src='/img/medidorSol.jpg').col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5#valor1.inline
					h5#senso1.inline
			.col-lg-2.col-md-2.col-sm-3.col-5.inline.col-centrada
				img(src='/img/humedadAmbiente.png').col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5#senso5.inline
			.col-lg-2.col-md-2.col-sm-3.col-5.inline.col-centrada
				img(src='/img/temAmbiente.png').col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5#senso6.inline
		.row
			.col-lg-2.col-md-2.col-sm-3.col-3.inline.col-centrada
				img(src='/img/plantaIco.png').rounded-circle.col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5 -#{plantas[0]}
					h5#senso2.inline
			.col-lg-2.col-md-2.col-sm-3.col-3.inline.col-centrada
				img(src='/img/plantaIco.png').rounded-circle.col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5 -#{plantas[1]}
					h5#senso3.inline
			.col-lg-2.col-md-2.col-sm-3.col-3.inline.col-centrada
				img(src='/img/plantaIco.png').rounded-circle.col-lg-12.col-md-12.col-sm-12
				.textoAlign
					h5 -#{plantas[2]}
					h5#senso4.inline
