extends ./layout.jade
block contenido
	.col-12.col-sm-12.col-md-12.col-lg-12.remove_float
		.row
			.col-12.col-sm-12.col-md-12.col-lg-12.inline
				img.logo-xs(src='/img/riemon.jpg')

		.row
			.col-6.col-sm-6.col-md-6.col-lg-6.inline
				img.logo-xs(src='/img/medidorAgua.png')
				p#valor0.inline
				p#senso0.inline
			.col-6.col-sm-6.col-md-6.col-lg-6.inline
				img.logo-xs(src='/img/medidorSol.jpg')
				p#valor1.inline
				p#senso1.inline
		.row
			.col-3.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs(src='/img/humedadAmbiente.png')
			.col-3.col-sm-12.col-md-6.col-lg-12.inline
				p#senso5.inline
			.col-3.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs(src='/img/temAmbiente.png')
			.col-3.col-sm-12.col-md-6.col-lg-12.inline
				p#senso6.inline
		.row
			.hidden-xs.col-2.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs.rounded-circle(src='/img/plantaIco.png')
				p - #{plantas[0]}
			.col-2.col-sm-12.col-md-6.col-lg-12.inline
				p#senso2.inline
			.hidden-xs.col-2.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs.rounded-circle(src='/img/plantaIco.png')
				p - #{plantas[1]}
			.col-2.col-sm-12.col-md-6.col-lg-12.inline
				p#senso3.inline
			.hidden-xs.col-2.col-sm-12.col-md-6.col-lg-12.inline
				img.logo-xs.rounded-circle(src='/img/plantaIco.png')
				p - #{plantas[2]}
			.col-2.col-sm-12.col-md-6.col-lg-12.inline
				p#senso4.inline
